<!--Para heredar de una plantilla-->
{% extends 'layout.html' %}

{% block title %} formulario en Django  {% endblock %}

{% block content %}

<h1> Crear un Artículo </h1>
<br>
<form action=" {% url 'save_article' %}" method="POST">
     
     {% comment 'Para enviar los datos a traves del metodo post, es necesario usar el csrf_token' %}
     {% endcomment %}
     
     {% csrf_token %}

<label for="title">Título</label>
<input type="text" name="titulo"/>

<label for="contenido">Contenido</label>
<textarea name="contenido"></textarea>

<label for="publicado">¿Públicado?</label>
<select name="publico">
    <option value="1">SI</option>
    <option value="2">NO</option>

</select>

<input type="submit" value="Guardar"/>

</form>

{% endblock %}    